/* Locate.css */

.locate {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
  }
  
  .logo {
    margin: 20px; /* Adjust margin for spacing */
  }
  
  .info-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    margin-top: 20px; /* Adjust margin for spacing */
  }
  
  .store-info {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .store-info h2 {
    margin-bottom: 10px;
  }
  
  .store-details {
    margin-bottom: 20px;
  }
  
  .store-details p {
    margin-bottom: 10px;
  }
  
  .map-container {
    margin-top: 20px; /* Adjust margin for spacing */
    height: 100%;
    width: 100%;
  }
  
  .map-frame {
    width: 100%;
    height: 400px; /* Set a fixed height for the map */
    border: 0;
  }
  